.projects {
  background: url("../assets/background/circlesBG.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card {
  border-radius: 5.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem;
  background: none;
}

.badge {
  font-size: 1.4rem;
}

.btn {
  background-image: linear-gradient(
    to right,
    #a30202 0%,
    #f16464 51%,
    #dd5e89 100%
  );
  margin: 0.8rem;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px rgb(238, 238, 238);
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 1rem;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.project-col {
  animation-name: fadeIn;
  animation-duration: 4s;
}

.project-col:nth-child(2) {
  animation-delay: 0.5s;
}
.project-col:nth-child(3) {
  animation-delay: 1s;
}
.project-col:nth-child(4) {
  animation-delay: 1s;
}
