html {
  font-size: 62.5%;
  font-family: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


#heading-for-page {
  font-size: 2.5rem;
  color: #00003A;
  font-weight: 800;
  font-family: serif;
  line-height: 2;
}

@media screen and (min-width: 995px) {
  #heading-for-page{
    font-size: 3.5rem;
  }
}   

.skill-box > h4, .my-data>h1, .card-title  {
  font-family: "Roboto";
  font-size: 2.3rem;
  font-weight: 600;
}

.skill-box > p , .what-i-do, .my-data>p, .card-text{
  font-style: italic;
  font-size: 1.3rem;
}

.card-text{
  margin: 0rem 0.4rem;
}

.services {
  margin: 0;
  justify-content: center;
}

#heading-row{
  justify-content: center;
}